@tailwind base;
@tailwind utilities;
@tailwind base;
:root
{
    --bs-navbar-height: 100000vh
}
body
{
    background:white;
    width: 100%;
}
html
{
    height: 100%;
    width:100%
}
.h-4 {
    height: 2rem/* 16px */;
    padding-right: 1px;
}
.w-4 {
    padding-right: 1px;
}